# Environments
niche-bot-env/
__pycache__/

# Secrets
.env

# Vector Database
chroma_db/

# Local data
data/

# macOS
.DS_Store

#Python
__pycache__/


# Local Kubernetes secrets
k8s/03-app/secret.yaml
*.secret.yaml
